*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgba(60, 59, 61, 0.3);
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.items{
    position: relative;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    
}
.big-img{
    position: relative;
    width: 700px;
    height: 350px;
    background-color: black;
    border-radius: 10px;
}

.item{
    position: relative;
    height: calc(100% / 5);
  
}
#photo{
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}
.big-img > img{
   width: 100%;
    object-fit: cover;
    height: 100%; 
}
.after , .before{
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translate(-50%);
    color:white;
    border-radius: 100%;
}
.after{
    bottom: 0%;
}
.d-block{
    display: block;
    border: 3px solid white;
    opacity: 0.5;
}
#information {
    color: white;
    width: 40%;
    position: absolute;
    bottom: 10%;
    right: 5%;
}